*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body{
  overflow-x: hidden;
}

.text-black-50{
  color: #1D1D1D;
}

.bg-black-50{
  background-color: #1D1D1D;
}
.bg-rwhite{
  background-color: #FFFFFF;
}

.text-blue{
  color: #00ADE9;
}

.border-sblue {
  border-color: #00ADE9;
}

.bg-blue-20{
  background-color: #006ba3;
}

.bg-blue{
  background-color: #00ADE9;
}

.bg-blue-blend{
  background-color: rgb(0, 173, 233, 0.5);
}
.border-blue{
  border-color:  #00ADE9;
  color: #00ADE9;
}
.border-lblue:focus{
  border: 2px solid #00ADE9;
  color: #00ADE9;
}
.bg-blue-dark{
  background-color: #102558;
}
.w-carousel{
  width: 40rem;
}
.donation-history .owl-item img {
  width: 1rem !important;
}

.text-blue-dark{
  color: #102558;
}

.bg-green{
  background-color: #00c98b;
}

.text-green{
  color: #00c98b;
}

.text-gray-light{
  color: #7c7c7c;
}

.bg-orange2{
  background-color: #ffc100;
}

.border-blue:focus{
  border: 2px solid #00ADE9;
}
.text-vs{
  font-size: 8px;
}
.bg-gray{
  background-color: #f9f9f9;
}
.border-grey{
  border-color: #f9f9f9;
}
.bg-gray-10{
  background-color: #f1f1f1;
}
.text-gray-600{
  color: #444445;
}
.bg-gray-dark{
  background-color: #BDBDBD;
}

.text-gray-300{
  color: #BDBDBD;
}

a{
  cursor: pointer;
}

.w-sidebar{
  width: 20.13%;
}

.w-appeal{
  width: 35.304%;
}

.w-dashboard{
  width: 64.69%;
}

.table-fix{
  border: none !important;
}

.ui.table thead th {
  background-color: white !important;
  color: #bdbdbd !important;
  font-size: 12px !important;
  font-weight: 500;
  text-transform: uppercase;
}

.text-gray {
  color: #999999;
}

.bg-bwhite {
  background-color: #E0F7FF;
}

.text-bwhite {
  color: #E0F7FF;
}

.text-orange {
  color: #FD4949;
}

.border-orange {
  border-color: #FD4949;
}

.landing-page {
  background: linear-gradient(270deg, #13265500 0%, #132655 100%), url(./images/background-image.jpg), 0% 0% no-repeat padding-box;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-unicef {
  background: linear-gradient(180deg, #7C7C7C00 0%, #000000 100%), url(./images/©-UNICEF_UNI235471_Willocq-1@2x.png) 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #00000008;
  border-radius: 16px;
  background-size: cover;
  opacity: 1;
}

.group15343 {
  background-image: url(./images/Group\ 15343.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.border-lblack {
  border-color: #1D1D1D;
}

.border-l2black {
  border-color: #444445;
}

.bg-gray-mate {
  background-color: #999999;
}

.text-gray {
  color: #999999;
}

.-bottom-12 {
  bottom: -3.5rem;
}

.owl-carousel-1 .owl-stage-outer{
  height: 710px;
}

.owl-carousel-1 .owl-dots{
  display: block !important;
}

.achievements-carousel .owl-dots{
  margin-top: 30px !important;
  display: block !important;
}

.events-carousel .owl-dots{
  margin-top: 40px !important;
  display: block !important;
}

.owl-theme .owl-dots .owl-dot span {
  width: 18px;
  height: 7px;
}

.text-nblue {
  color: #102558
}

.bg-yellow {
  background-color: #FFC100;
}

.border-fyellow {
  border-color: #FFC100;
}

.text-fyellow {
  color: #FFC100;
}

.bg-owhite {
  background-color: #F9F9F9;
}

.border-owhite {
  border-color: #E6E6E6;
}

.bg-o2white {
  background-color: #E6E6E6;
}

.text-sblue {
  color: #00ADE9;
}

.bg-sblue {
  background-color: #00ADE9;
}

.text-dblue {
  color: #006BA3;
}

.bg-dblue {
  background-color: #006BA3;
}

.bg-pink {
  background-color: #FFB1B1;
}

.text-purple {
  color: #A349FD;
}

.absolute-center {
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border-nblue {
  border-color: #102558;
}

.bg-nblue {
  background-color: #102558;
}

.bg-union {
  background-image: url(./images/Union\ 7.png); 
}

.text-gray {
  color: #BDBDBD;
}

.border-lgray {
  border-color: #BDBDBD;
}

.bg-lgray {
  background-color: #BDBDBD;
}

.bg-red {
  background-color: #FD4949;
}

.text-l2gray {
  color: #F5F6F7;
}

.bg-l2gray {
  background-color: #F5F6F7;
}

.text-dgray {
  color: #7C7C7C;
}

.border-green {
  border-color: #00C98B;
}

.text-footer {
  color: #8892AC;
}

.w-popup {
  width: 644px;
  top: 20px;
  left: 32%;
}

hr.solid {
  border-top: 3px solid #E2E2E2   ;
}

.text-l3gray {
  color: #E2E2E2;
}

ul {
  list-style-type: disc;
}

.ellipse {
  left: 20%;
  bottom: -10%;
}

.top-8 {
  top: 10%;
}

.bg-orange {
  background-color: #FFEAEA;
}

.text-l3black {
  color: #181818;
}

.bg-lgreen {
  background-color: #B4FFE8;
}
ul {
  list-style: none;
}
ul.terms li::before {
  content: "\2022";
  color: #00ADE9;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  /* box-shadow:0 0 5px 0px gray inset; */
}
input[type='radio']:before {
  content:'';
  display:block;
  width:6px; /* updated */
  height:6px; /* updated */
  margin: 30% auto;    
  border-radius:50%;
  background:rgb(223, 223, 223);    
}
input[type='radio']:checked:before {
  background: #1D1D1D;
}
input[type='radio']:checked {
  border:2px solid #1D1D1D;
}

@media only screen and (max-width:990px) {
  .w-sidebar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .w-carousel{
    width: 18rem;
  }
  .w-appeal{
    width: 100%;
  }
  
  .w-dashboard{
    width: 100%;
  }

  .landing-page {
    background: linear-gradient(270deg, #13265500 0%, #132655 100%), url(./images/background-image-mobile.png), 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }

  .group15343 {
      background-image: none;
  }
  .owl-carousel-1 .owl-stage-outer{
    height: 610px;
  }
  .bg-rwhite{
    background-color: #f9f9f9;
  }
  
}